<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="demo-consumer"/>
    <dubbo:registry address="multicast://224.5.6.7:1234"/>
    <dubbo:protocol name="dubbo" port="20881"/>
    <dubbo:reference id="demoService" interface="com.apeny.api.service.DemoService" cluster="failfast">
        <dubbo:method name="sayHello" timeout="10000"></dubbo:method>
    </dubbo:reference>
    <dubbo:reference id="p2pDemoService" interface="com.apeny.api.service.DemoService" url="dubbo://192.168.0.100:20880">
        <dubbo:method name="sayHello"></dubbo:method>
    </dubbo:reference>
</beans>
