<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="demo-consumer"/>
    <dubbo:registry address="multicast://224.5.6.7:1234"/>
    <dubbo:protocol name="dubbo" port="20881"/>
    <dubbo:reference id="demoService" interface="com.apeny.api.service.DemoService" cluster="failfast" cache="true">
        <dubbo:method name="sayHello" timeout="10000"></dubbo:method>
    </dubbo:reference>
    <dubbo:reference id="p2pDemoService" interface="com.apeny.api.service.DemoService" url="dubbo://127.0.0.1:20880">
        <dubbo:method name="sayHello"></dubbo:method>
    </dubbo:reference>

    <!--多服务,多协议-->
    <dubbo:protocol name="rmi" port="9029"></dubbo:protocol>
    <dubbo:reference id="rmiDemoServiceClient" interface="com.apeny.api.service.DemoService" protocol="rmi"/>

    <!--多注册中心,多引用-->
    <dubbo:registry id="registry1" address="multicast://224.111.2.4:9090"/>
    <dubbo:registry id="registry2" address="multicast://224.111.2.5:9092"/>
    <dubbo:reference id="hello1" interface="com.apeny.api.service.HelloService" registry="registry1"/>
    <dubbo:reference id="hello2" interface="com.apeny.api.service.HelloService" registry="registry2"/>

    <!--服务分组-->
    <dubbo:reference interface="com.apeny.api.service.IndexService" group="index1" id="index1"/>
    <dubbo:reference interface="com.apeny.api.service.IndexService" group="index1,index2" id="index12" merger="true"/>

    <!--参数校验-->
    <dubbo:reference id="validation1" interface="com.apeny.api.service.argumentvalidation.Validation1Service"/>
    <dubbo:reference id="validation2" interface="com.apeny.api.service.argumentvalidation.Validation2Service"/>

    <dubbo:reference id="customService" interface="com.apeny.api.service.generic.CustomService" generic="true"/>

    <!--async reference-->
    <dubbo:reference interface="com.apeny.api.service.asyncservice.FooService" async="true" id="fooService" timeout="10000"/>
    <dubbo:reference interface="com.apeny.api.service.asyncservice.BarService" async="true" id="barService" timeout="10000"/>
</beans>
