<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="consumer-application" logger="log4j"/>
    <dubbo:registry address="multicast://224.5.6.7:1234"/>
    <dubbo:provider protocol="dubbo" port="20881"/>
    <bean class="com.apeny.service.impl.notifyservice.NotifyImpl" id="notify"/>
    <dubbo:reference interface="com.apeny.api.service.notifyservice.NotifyService" id="notifyServiceRef">
        <dubbo:method name="getPerson" onreturn="notify.onReturn" onthrow="notify.onThrow"/>
    </dubbo:reference>
</beans>
