<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="demo-provider"/>
    <!--既注册又订阅-->
    <dubbo:registry id="twomulticast" address="multicast://224.5.6.7:1234" />
    <dubbo:protocol name="dubbo" port="20880"/>
    <!--concurrent execute service-->
    <dubbo:service interface="com.apeny.api.service.asyncservice.FooService" ref="fooService"/>
    <bean id="fooService" class="com.apeny.provider.service.impl.asyncservice.FooServiceImpl"/>
    <dubbo:service interface="com.apeny.api.service.asyncservice.BarService" ref="barService"/>
    <bean id="barService" class="com.apeny.provider.service.impl.asyncservice.BarServiceImpl"/>


</beans>
